apiVersion: apps/v1beta1 # for versions before 1.6.0 use extensions/v1beta1
kind: Deployment
metadata:
  name: fontbakery-manifest-csvupstream
spec:
  replicas: 1
  template:
    metadata:
      labels:
        component: fontbakery-manifest-csvupstream
        role: manifest
    spec:
      nodeSelector:
        cloud.google.com/gke-nodepool: default-pool
      containers:
      - name: fontbakery-manifest-csvupstream
        image: gcr.io/fontbakery-168509/base-javascript:43
        env:
          - name: FONTBAKERY_LOG_LEVEL
            value: "DEBUG"
          #- name: DEVEL_FAMILY_WHITELIST
          #  value: "[\"Rosario\", \"Amiri\", \"Pacifico\", \"Astloch\"]"
        workingDir: /var/javascript
        command: ["node", "node/manifestSources/CSVSpreadsheet.js", "-p", "50051"]
        # command: ["node", "--inspect=0.0.0.0:9229", "node/manifestSources/CSVSpreadsheet.js", "-p", "50051"]
---
apiVersion: v1
kind: Service
metadata:
  name: fontbakery-manifest-csvupstream
  labels:
    component: fontbakery-manifest-csvupstream
spec:
  ports:
    - port: 50051
      targetPort: 50051
  selector:
    component: fontbakery-manifest-csvupstream
    role: manifest
