apiVersion: apps/v1beta1 # for versions before 1.6.0 use extensions/v1beta1
kind: Deployment
metadata:
  name: fontbakery-github-auth
spec:
  replicas: 1
  template:
    metadata:
      labels:
        component: fontbakery-github-auth
    spec:
      containers:
      - name: fontbakery-github-auth
        image: fontbakery/base-javascript:1
        env:
          - name: FONTBAKERY_LOG_LEVEL
            value: "DEBUG"
          - name: GITHUB_OAUTH_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: external-resources
                key: github-oauth-client-id
          - name: GITHUB_OAUTH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: external-resources
                key: github-oauth-client-secret
          - name: GITHUB_AUTH_ENGINEERS
            valueFrom:
              secretKeyRef:
                name: external-resources
                key: github-auth-engineers
        ports:
        - containerPort: 50051
        workingDir: /var/javascript
        command: ["node", "node/GitHubAuthServer.js", "-p", "50051"]
---
apiVersion: v1
kind: Service
metadata:
  name: fontbakery-github-auth
  labels:
    component: fontbakery-github-auth
spec:
  ports:
    - port: 50051
      targetPort: 50051
  selector:
    component: fontbakery-github-auth
